<h1>Display Cart </h1>
<div id = "cartmenu">
  <ul>
    <li> <%= link_to 'Continue shopping', :action => "index"%></li>
    <li> <%= link_to 'Empty cart', :action => "empty_cart"%></li>
    <li> <%= link_to 'Checkout', :action => "checkout"%></li>
  </ul>
  </div>
<%= render 'cart_list' %>